* * * * * curl https://saltwater-recon-r6ebf.ondigitalocean.app/api/ >/proc/1/fd/1 2>/proc/1/fd/2
* * * * * echo 'Hello cron' > hellocron.txt

# An empty line is required at the end of this file for a valid cron file.
